In [24]:
Step I: Merge all dataset.
Step 2: EDA inlcluding Data cleaning. and Scaling and normalisation, null values + outlier treatment
Step 3: Visualization:- univariate , bivariate  & Multivariate Analysis
Step 4: Test Train Split,
Step 5: Diamention reduction:- PCA, RFE/ Vif
Step 6: Modelling & Evaluation.

SyntaxError: invalid syntax (1797086760.py, line 1)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import sklearn

In [4]:
data = pd.read_csv("C:/Users/Pranav Yadav/Desktop/CityTable.csv")

In [5]:
data.head()

   id            name country_code       district  population
0   1           Kabul          AFG          Kabol     1780000
1   2        Qandahar          AFG       Qandahar      237500
2   3           Herat          AFG          Herat      186800
3   4  Mazar-e-Sharif          AFG          Balkh      127800
4   5       Amsterdam          NLD  Noord-Holland      731200

In [6]:
data = pd.read_csv("C:/Users/Pranav Yadav/Desktop/CountryTable.csv")

In [7]:
data.head()

,code,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
0,ABW,Aruba,North America,Caribbean,193.0,NuLL,103000,78.4,828.0,793,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919,22720000,45.9,5976.0,NuLL,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975,12878000,38.3,6648.0,7984,Angola,Republic,Jose Eduardo dos Santos,56,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NuLL,8000,76.1,63.2,NuLL,Anguilla,Dependent Territory of the uK,Elisabeth II,62,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912,3401200,71.6,3205.0,2500,Shqiperia,Republic,Rexhep Mejdani,34,AL

In [8]:
data = pd.read_csv("C:/Users/Pranav Yadav/Desktop/LanguageTable.csv")

In [9]:
data.head()

  country_code    language official  percentage
0          ABW       Dutch        T         5.3
1          ABW     English        F         9.5
2          ABW  Papiamento        F        76.7
3          ABW     Spanish        F         7.4
4          AFG     Balochi        F         0.9

### Reading Dataset

In [10]:
import pandas as pd

# read in multiple datasets as dataframes
df1 = pd.read_csv('C:/Users/Pranav Yadav/Desktop/CityTable.csv')
df2 = pd.read_csv('C:/Users/Pranav Yadav/Desktop/CountryTable.csv')
df3 = pd.read_csv('C:/Users/Pranav Yadav/Desktop/LanguageTable.csv')

# concatenate the dataframes along rows (axis=0)
combined_df = pd.concat([df1, df2, df3], axis=0)

# optionally, reset the index of the combined dataframe
combined_df = combined_df.reset_index(drop=True)

In [11]:
print(combined_df)

       id            name country_code       district  population code  \
0     1.0           Kabul          AFG          Kabol   1780000.0  NaN
1     2.0        Qandahar          AFG       Qandahar    237500.0  NaN
2     3.0           Herat          AFG          Herat    186800.0  NaN
3     4.0  Mazar-e-Sharif          AFG          Balkh    127800.0  NaN
4     5.0       Amsterdam          NLD  Noord-Holland    731200.0  NaN
...   ...             ...          ...            ...         ...  ...
5297  NaN             NaN          ZMB            NaN         NaN  NaN
5298  NaN             NaN          ZWE            NaN         NaN  NaN
5299  NaN             NaN          ZWE            NaN         NaN  NaN
5300  NaN             NaN          ZWE            NaN         NaN  NaN
5301  NaN             NaN          ZWE            NaN         NaN  NaN

     continent region  surface_area independence_year  ... gnp  gnp_old  \
0          NaN    NaN           NaN               NaN  ... NaN      NaN
1          NaN    NaN           NaN               NaN  ... NaN      NaN
2          NaN    NaN           NaN               NaN  ... NaN      NaN
3          NaN    NaN           NaN               NaN  ... NaN      NaN
4          NaN    NaN           NaN               NaN  ... NaN      NaN
...        ...    ...           ...               ...  ...  ..      ...
5297       NaN    NaN           NaN               NaN  ... NaN      NaN
5298       NaN    NaN           NaN               NaN  ... NaN      NaN
5299       NaN    NaN           NaN               NaN  ... NaN      NaN
5300       NaN    NaN           NaN               NaN  ... NaN      NaN
5301       NaN    NaN           NaN               NaN  ... NaN      NaN

     local_name government_form head_of_state capital code2 language official  \
0           NaN             NaN           NaN     NaN   NaN      NaN      NaN
1           NaN             NaN           NaN     NaN   NaN      NaN      NaN
2           NaN             NaN           NaN     NaN   NaN      NaN      NaN
3           NaN             NaN           NaN     NaN   NaN      NaN      NaN
4           NaN             NaN           NaN     NaN   NaN      NaN      NaN
...         ...             ...           ...     ...   ...      ...      ...
5297        NaN             NaN           NaN     NaN   NaN   Tongan        F
5298        NaN             NaN           NaN     NaN   NaN  English        T
5299        NaN             NaN           NaN     NaN   NaN  Ndebele        F
5300        NaN             NaN           NaN     NaN   NaN   Nyanja        F
5301        NaN             NaN           NaN     NaN   NaN    Shona        F

     percentage
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
5297       11.0
5298        2.2
5299       16.2
5300        2.2
5301       72.1

[5302 rows x 21 columns]

In [12]:
data.head()

  country_code    language official  percentage
0          ABW       Dutch        T         5.3
1          ABW     English        F         9.5
2          ABW  Papiamento        F        76.7
3          ABW     Spanish        F         7.4
4          AFG     Balochi        F         0.9

In [13]:
data.tail()

    country_code language official  percentage
979          ZMB   Tongan        F        11.0
980          ZWE  English        T         2.2
981          ZWE  Ndebele        F        16.2
982          ZWE   Nyanja        F         2.2
983          ZWE    Shona        F        72.1

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  984 non-null    object
 1   language      984 non-null    object
 2   official      984 non-null    object
 3   percentage    984 non-null    float64
dtypes: float64(1), object(3)
memory usage: 30.9+ KB

### Check fot Duplications

#nunique() Based on sevral unique values in each column and the data description.

In [15]:
data.nunique()

country_code    233
language        457
official          2
percentage      357
dtype: int64

##### #Missing values calculations
isnull()

In [16]:
data.isnull().sum()

country_code    0
language        0
official        0
percentage      0
dtype: int64

In [17]:
data.isnull().sum()/(len(data))*100   # The below code helps to calculate the percentage of missing values in each column

country_code    0.0
language        0.0
official        0.0
percentage      0.0
dtype: float64

### Data Reduction

Some columns or variables can be dropped if they do not add value to our analysis.

In our dataset, the column S.No have only ID values, assuming they don’t have any predictive power to predict the dependent variable.

In [20]:
# Remove id. column from data 
data = data.drop(['id'], 1)
data.info()

C:\Users\Pranav Yadav\AppData\Local\Temp\ipykernel_600\3883762929.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop(['id'], 1)

KeyError: "['id'] not found in axis"

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  984 non-null    object
 1   language      984 non-null    object
 2   official      984 non-null    object
 3   percentage    984 non-null    float64
dtypes: float64(1), object(3)
memory usage: 30.9+ KB

### Feature Engineering

Feature engineering refers to the process of using domain knowledge to select and transform the most relevant variables from raw data when creating a predictive model using machine learning or statistical modeling. The main goal of Feature engineering is to create meaningful data from raw data.

### Creating Features

We will play around with the variables Year and Name in our dataset. If we see the sample data, the column “Year” shows the manufacturing year of the car.

It would be difficult to find the car’s age if it is in year format as the Age of the car is a contributing factor to Car Price. 

Introducing a new column, “Student_Age” to know the age of the student

In [23]:
from datetime import date
date.today().year
data['Student_Age']=date.today().year-data['year']
data.head()

KeyError: 'year'